* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font-family: Roboto, Arial, Helvetica, sans-serif;
   }
.banner img {
	height: 25vh;
	width:100%;
}

#body {
	background:white;
	margin-left:10%;
	margin-top:5%;
	width:80%;
}
h1 { 
	margin: 1rem 0 2rem;
	}
	 
button { 
	background: gray; 
	color: white; 
	border: none; 
	border-radius: 4px;
    padding: .25rem .5rem;
    margin-right:10%;
    float: right; 
    }

